#bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    background-color: rgb(32, 31, 31);
}
#item3 a img{
    height: 140px;
    width: 140px;
}
#bar a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 35px;
    margin: 20px;
    font-family: 'Nerko One', cursive;
}
#bar a:hover{
    color: rgb(255, 123, 0);
}
#bar img:hover{
    height: 142px;
    width: 142px;
    margin-left: 30px;
    margin-right: 30px;
}
#item1, #item2, #item4, #item5{
    margin-bottom: 20px;
    padding-bottom: 5px;
}